<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Publish Success</title>
    <!-- INCLUDE SHARED METAS -->
    <meta th:replace="metas-header :: meta" />
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links-header :: link" />
    <link href="css/publish-success.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- INCLUDE HEADER -->
    <header th:replace="header :: header"></header>

    <section class="section centered">
        <i class="icons fas fa-check-circle"></i>
        <h2>Your course have been published successfully !</h2>
        <h3><em>[[ ${course.name} ]] of [[ ${course.dateCourse} ]]</em></h3>
        <p>Thanks for your contribution</p>
    </section>

    <nav class="section centered">
        <a th:href="@{/content(courseId=${course.id})}" class="w-button">Go to the published course</a>
        <a th:href="@{/course(subjectId=${course.subjectId})}" class="w-button">Publish another course</a>
        <a th:href="@{/class}" class="w-button">Return to homepage</a>
    </nav>

    <!-- INCLUDE FOOTER -->
    <footer th:replace="footer :: footer"></footer>

    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts-page :: script"></script>

</body>

</html>