.card {
  background: #00008b;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
  margin: 5px 0px 5px 0px;
  text-shadow: -1px -1px 0 #dad0d0, 1px -1px 0 #dad0d0, -1px 1px 0 #dad0d0,
    1px 1px 0 #dad0d0, 1px 1px 10px #141414;
  color: #dad0d0;
  font-size: 25px;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.topcard {
  background: #8b0000;
  font-size: 40px;
}