/* https://codepen.io/maheshambure21/pen/VYJQYG */

[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.input-date {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  font-size: 25px;
  margin: 20px 0px 20px 0px;
}


.divemoji{
text-align: center;
margin-bottom: 2%;
}

.emoji{
  font-size:30px;
}
