<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Administrator</title>
    <!-- INCLUDE SHARED METAS -->
    <meta th:replace="metas-header :: meta" />
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links-header :: link" />
</head>

<body>

    <!-- INCLUDE HEADER -->
    <header th:replace="header :: header"></header>

    <section class="w-container">

        <h1>ADMINISTRATION PAGE</h1>

        <section class="section">
            <h2>Manage classes, options and subjects</h2>
            <h3>Classes</h3>
            <button class="w-button myBtn" id="1"><i class="fas fa-plus"></i> Add new class</button>
            <br />
            <br />
            <ul>
                <li th:each="class : ${classes}">
                    <div><strong>[[ ${class.name} ]] [[ ${class.level} ]]</strong> <button class="editBtn"
                            th:id="'edit-' + ${class.id}"><i class="fas fa-edit"></i> edit</button> <button
                            class="danger-bg delBtn" th:id="'del-' + ${class.id}"><i class="fas fa-trash-alt"></i>
                        </button></div>
                    <h3>Options</h3>
                    <button class="w-button myBtn" id="1-1"><i class="fas fa-plus"></i> Add new option</button>
                    <ul>
                        <li>
                            <div><strong>Informatique</strong> <button><i class="fas fa-edit"></i> edit</button> <button
                                    class="danger-bg delBtn" id="del-1-1"><i class="fas fa-trash-alt"></i> </button>
                            </div>
                            <h3>Subjects</h3>
                            <button class="w-button myBtn" id="1-1-1"><i class="fas fa-plus"></i> Add new
                                subject</button>
                            <ul>
                                <li><em>Base de donnée 1</em> <button><i class="fas fa-edit"></i> edit</button> <button
                                        class="danger-bg delBtn" id="del-1-1-1"><i class="fas fa-trash-alt"></i>
                                    </button></li>
                                <li><em>Programmation impérative 1</em> <button><i class="fas fa-edit"></i>
                                        edit</button> <button class="danger-bg delBtn" id="del-1-1-2"><i
                                            class="fas fa-trash-alt"></i> </button></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <div><strong>LICENCE 2</strong> <button><i class="fas fa-edit"></i> edit</button> <button
                            class="danger-bg"><i class="fas fa-trash-alt"></i> </button></div>
                    <h3>Options</h3>
                    <button class="w-button myBtn" id="2-1"><i class="fas fa-plus"></i> Add new option</button>
                    <ul>
                        <li>
                            <div><strong>Informatique</strong> <button><i class="fas fa-edit"></i> edit</button> <button
                                    class="danger-bg"><i class="fas fa-trash-alt"></i> </button></div>

                            <h3>Subjects</h3>
                            <button class="w-button myBtn" id="2-1-1"><i class="fas fa-plus"></i> Add new
                                subject</button>
                            <ul>
                                <li><em>Base de donnée 2</em> <button><i class="fas fa-edit"></i> edit</button> <button
                                        class="danger-bg"><i class="fas fa-trash-alt"></i> </button></li>
                                <li><em>Programmation impérative 2</em> <button><i class="fas fa-edit"></i>
                                        edit</button> <button class="danger-bg"><i class="fas fa-trash-alt"></i>
                                    </button></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </section>

    </section>

    <!-- EDIT MODALS  -->

    <!-- MODAL -->
    <div id="modal-edit-1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="close-edit-1">&times;</span>
            <p>Edit class name</p>
            <form>
                <input type="text" value="LICENCE 1" class="w-input" />
                <input type="submit" value="Update">
            </form>
        </div>
    </div>

    <!-- DELETE MODALS -->

    <!-- MODAL -->
    <div id="modal-del-1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="close-del-1">&times;</span>
            <p>Are you sure to delete this class ?</p>
            <small>All options and subjects that correspond to this class will be deleted too</small>
            <p><a href="?delete=1" class="w-button">Yes</a></p>
        </div>
    </div>

    <!-- MODAL -->
    <div id="modal-del-1-1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="close-del-1-1">&times;</span>
            <p>Are you sure to delete this option ?</p>
            <small>All subjects that correspond to this option will be deleted too</small>
            <p><a href="?delete=1" class="w-button">Yes</a></p>
        </div>
    </div>

    <!-- MODAL -->
    <div id="modal-del-1-1-1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="close-del-1-1-1">&times;</span>
            <p>Are you sure to delete this subject ?</p>
            <small>All contents that correspond to this option will be deleted too</small>
            <p><a href="?delete=1" class="w-button">Yes</a></p>
        </div>
    </div>

    <!-- MODAL -->
    <div id="modal-del-1-1-2" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="close-del-1-1-2">&times;</span>
            <p>Are you sure to delete this subject ?</p>
            <small>All contents that correspond to this option will be deleted too</small>
            <p><a href="?delete=1" class="w-button">Yes</a></p>
        </div>
    </div>

    <!-- MODAL -->
    <div id="modal-1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="close-1">&times;</span>
            <p>Add new class</p>
            <form method="POST">
                <input type="text" name="className" placeholder="Enter class name" class="w-input w-block" />
                <input type="submit" class="w-button w-button" value="Add" />
            </form>
        </div>
    </div>

    <!-- MODAL -->
    <div id="modal-1-1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="close-1-1">&times;</span>
            <p>Add new option</p>
            <form method="POST">
                <input type="text" name="className" placeholder="Enter option name" class="w-input w-block" />
                <input type="submit" class="w-button w-button" value="Add" />
            </form>
        </div>
    </div>

    <!-- MODAL -->
    <div id="modal-1-1-1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="close-1-1-1">&times;</span>
            <p>Add new subject</p>
            <form method="POST">
                <input type="text" name="className" placeholder="Enter subject name" class="w-input w-block" />
                <input type="submit" class="w-button w-button" value="Add" />
            </form>
        </div>
    </div>

    <!-- MODAL -->
    <div id="modal-2-1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="close-2-1">&times;</span>
            <p>Add new option</p>
            <form method="POST">
                <input type="text" name="className" placeholder="Enter option name" class="w-input w-block" />
                <input type="submit" class="w-button w-button" value="Add" />
            </form>
        </div>
    </div>

    <!-- MODAL -->
    <div id="modal-2-1-1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="close-2-1-1">&times;</span>
            <p>Add new subject</p>
            <form method="POST">
                <input type="text" name="className" placeholder="Enter subject name" class="w-input w-block" />
                <input type="submit" class="w-button w-button" value="Add" />
            </form>
        </div>
    </div>

    <!-- INCLUDE FOOTER -->
    <footer th:replace="footer :: footer"></footer>

    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts-page :: script"></script>

</body>

</html>