<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List of Courses</title>
    <!-- INCLUDE SHARED METAS -->
    <meta th:replace="metas-header :: meta" />
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links-header :: link" />
    <link href="css/course.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- INCLUDE HEADER -->
    <header th:replace="header :: header"></header>

    <section class="w-container">

        <button id="request-button" class="w-button" type="button">Demander un cours</button>
        <button id="share-button" class="w-button" type="button">Publier un cours</button>
        <div class="card topcard">[[ ${subject.name} ]]</div>
        <article th:each="course : ${subject.courses}">
            <div class="card">
                <a href="@{/content}">[[ ${course.dateCourse} ]] : [[ ${course.name} ]]</a>
            </div>
            <div class="divemoji">
                <button class="emoji" id="" onclick="">&#128525;</button>
                <span>[[ ${course.numberLike} ]]</span>
                <button class="emoji" style='font-size:30px;'>&#129326;</button>
                <span>[[ ${course.numberDislike} ]]</span>
            </div>
        </article>

        <div id="request-modal" class="modal">
            <div class="modal-content">
                <span id="request-close" class="close">&times;</span>
                <form method="POST" th:action="@{/addRequest}" th:object="${request}">
                    <div class="modal-body">
                        <span>Choisissez la date du cours demandé :</span><br>
                        <input th:field="*{subjectId}" type="hidden">
                        <input class="input-date" th:field="*{dateCourse}" type="date"><br>
                        <button type="submit" class="w-button">Valider la demande</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="share-modal" class="modal">
            <div class="modal-content">
                <span id="share-close" class="close">&times;</span>
                <form method="POST" th:action="@{/publish-success}" th:object="${course}" enctype="multipart/form-data">
                    <div class="modal-body">
                        <span>Tapez le nom de votre cours :</span><br>
                        <input required th:field="*{name}"><br>
                        <input required id="date-picker" type="radio" name="date-picker" value="0" onchange="check(); insert();">
                        Si vous publierez votre cours à la réponse d'une demande<br>
                        <input id="date-picker" type="radio" name="date-picker" value="1" onchange="check(); insert();">
                        Si vous publierez votre cours spontanément<br>
                        <div id="select-div" style="display: none;">
                            <select id="select-date" class="select-date" onchange="insert()">
                                <option value="-1">--Choisir--</option>
                                <div th:each="req : ${actreq}">
                                    <option th:value="${req.dateCourse}">[[ ${req.dateCourse} ]]</option>
                                </div>
                            </select>
                        </div>
                        <div id="input-div" style="display: none;">
                            <input required id="input-date" class="input-date" type="date" th:field="*{dateCourse}">
                        </div>
                        <span>Sélectionnez les fichiers du cours :</span>
                        <input required multiple type="file" th:field="*{files}"><br>
                        <span>Si vous avez un commentaire à propos de votre course (optionnel) :</span><br>
                        <textarea cols="50" rows="10" th:field="*{commentary}"></textarea><br>
                        <button class="w-button" type="submit">Valider la course</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- INCLUDE FOOTER -->
    <footer th:replace="footer :: footer"></footer>

    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts-page :: script"></script>
    <script src="js/course.js" type="text/javascript"></script>

</body>

</html>