<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Courses List</title>
    <!-- INCLUDE SHARED METAS -->
    <meta th:replace="metas-header :: meta" />
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links-header :: link" />
    <link href="css/course.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- INCLUDE HEADER -->
    <header th:replace="header :: header"></header>

    <section class="w-container">

        <button id="request-button" class="w-button" type="button">Request a course</button>
        <button id="share-button" class="w-button" type="button">Publish a course</button>
        <div class="card topcard">[[ ${subject.name} ]]</div>
        <article th:each="course : ${subject.courses}">
            <div class="card" th:id="'course-' + ${course.id}">
                <a th:href="@{/content(courseId=${course.id})}">[[ ${course.dateCourse} ]] : [[ ${course.name} ]]</a>
            </div>
            <div class="divemoji">
                <button class="emoji" id="" th:onclick="'like(true,' + ${studentId} + ',' + ${course.id} + ',' + ${subject.id} + ')'">&#128525;</button>
                <span>[[ ${course.numberLike} ]]</span>
                <button class="emoji" style='font-size:30px;' th:onclick="'like(false,' + ${studentId} + ',' + ${course.id} + ',' + ${subject.id} + ')'">&#129326;</button>
                <span>[[ ${course.numberDislike} ]]</span>
            </div>
        </article>

        <div id="request-modal" class="modal">
            <div class="modal-content">
                <span id="request-close" class="close">&times;</span>
                <form method="POST" th:action="@{/addRequest}" th:object="${request}">
                    <div class="modal-body">
                        <span>Choose the date of the course you are requesting</span><br>
                        <input th:field="*{subjectId}" type="hidden">
                        <input class="input-date" th:field="*{dateCourse}" type="date"><br>
                        <button type="submit" class="w-button">Confirm</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="share-modal" class="modal">
            <div class="modal-content">
                <span id="share-close" class="close">&times;</span>
                <form method="POST" th:action="@{/publish-success}" th:object="${course}" enctype="multipart/form-data">
                    <div class="modal-body">
                        <span>Enter the course's name</span><br>
                        <input type="hidden" th:field="*{subjectId}">
                        <input required th:field="*{name}"><br>
                        <input required id="date-picker" type="radio" name="date-picker" value="0" onchange="check(); insert();">
                        You publish the course in response to a request<br>
                        <input id="date-picker" type="radio" name="date-picker" value="1" onchange="check(); insert();">
                        You publish the course spontaneously<br>
                        <div id="select-div" style="display: none;">
                            <select id="select-date" class="select-date" onchange="insert()">
                                <option value="-1">--Choose--</option>
                                <div th:each="req : ${actreq}">
                                    <option th:value="${req.dateCourse}">[[ ${req.dateCourse} ]]</option>
                                </div>
                            </select>
                        </div>
                        <div id="input-div" style="display: none;">
                            <input required id="input-date" class="input-date" type="date" th:field="*{dateCourse}">
                        </div>
                        <span>Choose the pictures of the course</span>
                        <input required multiple type="file" th:field="*{files}"><br>
                        <span>If you have a commentary about the publication (optionnal):</span><br>
                        <textarea cols="50" rows="10" th:field="*{commentary}"></textarea><br>
                        <button class="w-button" type="submit">Confirm</button>
                    </div>
                </form>
            </div>
        </div>

    </section>

    <!-- INCLUDE FOOTER -->
    <footer th:replace="footer :: footer"></footer>

    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts-page :: script"></script>
    <script src="js/course.js" type="text/javascript"></script>

</body>

</html>