<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Delete User</title>
    <!-- INCLUDE SHARED METAS -->
    <meta th:replace="metas-header :: meta" />
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links-header :: link" />
</head>

<body>

    <!-- INCLUDE HEADER -->
    <header th:replace="header :: header"></header>

    <section class="content">
        
    </section>

    <!-- INCLUDE FOOTER -->
    <footer th:replace="footer :: footer"></footer>

    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts-page :: script"></script>

</body>

</html>