<!DOCTYPE html>
<html>

<head>
    <link href="css/template.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="nav-bar">
        <div class="w-container">
            <div class="w-row">
                <div class="brand-column w-col w-col-4">
                    <img class="logo" src="img/logo_transparent.png" alt="logo application" width="130"/>
                    <div class="company"></div>
                </div>
                <nav class="nav-column w-col w-col-8">
                    <a class="nav-link" href="#features">Setting</a>
                    <a class="nav-link sign-up" href="#page-nav-Customers" target="_self">Log in</a></nav>
            </div>
        </div>
    </header>
</body>

</html>