<header class="nav-bar">
    <div class="w-container">
        <div class="w-row">
            <div class="brand-column w-col w-col-4">
                <a href="/">
                    <img class="logo" src="img/logo_transparent.png" alt="logo application" width="130" />
                </a>
            </div>
            <nav class="nav-column w-col w-col-8">
                <a class="nav-link" href="/admin"><i class="fas fa-tools"></i> Admin</a>
                <a class="nav-link" href="/setting">Setting</a>
                <a class="nav-link sign-up" href="/login" target="_self">Log in</a>
                <div class="dropdown nav-link">
                    <button class="dropbtn"><i class="fas fa-bell"></i></button>
                    <span class="badge">3</span>
                    <div class="dropdown-content">
                        <a href="/courses">M1 | GENIE LOGICIEL | 3 Septembre 2019</a>
                        <a href="/courses">M1 | DOCUMENT NUMERIQUE | 3 Septembre 2019</a>
                        <a href="/courses">M1 | DEV WEB ADV | 3 Septembre 2019</a>
                    </div>
                </div> 
            </nav>
        </div>
    </div>
</header>