<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Authentification</title>
    <!-- INCLUDE SHARED METAS -->
    <meta th:replace="metas-header :: meta" />
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links-header :: link" />
    <link href="css/login.css" rel="stylesheet" type="text/css" />
    <script src="js/login.js" type="text/javascript"></script>
</head>

<body>

    <div class="hero section">
        <div class="w-container">
            <h1 class="hero-heading">Help your classmates by sharing your course</h1>
            <p class="hero-subhead">
                Take photos of your courses and publish them here to help those who missed a class to catch up.
            </p>
        </div>
    </div>

    <section class="content">
        <div id="container">
            <form action="@{/login}" onsubmit="return verifForm(this)" method="POST">
                <h2 class="aligner">Connection</h2>
                <label><b>Student identifier</b></label>
                <input type="text" placeholder="Enter your identifier" name="studentID" onblur="verifStudentID(this)" required />
                <label><b>Student password</b></label>
                <input type="password" placeholder="Enter your password" name="password" required /><br />
                <input type="submit" id='submit' value='Login' /><br />
                <input type="radio" name="" value="">Remember me
                <p class="forgot"><a href="" target="_blank">Forgot your Login?</a></p>
            </form>
        </div>
    </section>

    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts-page :: script"></script>

</body>

</html>