<!DOCTYPE html>
<html>

<head>
    <title>Request Success</title>
    <!-- INCLUDE SHARED METAS -->
    <meta th:replace="metas-header :: meta" />
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links-header :: link" />
    <link rel="stylesheet" href="css/publish-success.css" />
</head>

<body>

    <!-- INCLUDE HEADER -->
    <header th:replace="header :: header"></header>

    <div class="hero section">
        <div class="w-container">
            <h1 class="hero-heading">Help your classmates by sharing your course</h1>
            <p class="hero-subhead">Take photos of your courses and publish them here to help those who missed a class
                to catch up.</p>
        </div>
    </div>

    <section class="section centered">
        <i class="icons fas fa-check-circle"></i>
        <h2>Your course have been published successfully !</h2>
        <h3><em>Génie Logiciel - 3rd September 2019</em></h3>
        <p>Thanks for your contribution</p>
    </section>

    <nav class="section centered">
        <a th:href="@{/content(courseId=${courseId})}" class="w-button">Go to the published course</a>
        <a th:href="@{/course(subjectId=${subjectId})}" class="w-button">Publish another course</a>
        <a th:href="@{/class}" class="w-button">Return to homepage</a>
    </nav>

    <!-- INCLUDE FOOTER -->
    <footer th:replace="footer :: footer"></footer>

    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts-page :: script"></script>

</body>

</html>