<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Request Success</title>
    <!-- INCLUDE SHARED METAS -->
    <meta th:replace="metas-header :: meta" />
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links-header :: link" />
    <link href="css/request-sucess.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- INCLUDE HEADER -->
    <header th:replace="header :: header"></header>

    <!-- Page qui affiche la confirmation  quand la demande est acceptée -->
    <section class="section centered">
        <i class="icons fas fa-check-circle"></i>
        <h2>Your request has been added successfully !</h2>
        <nav class="section centered">
            <a class="w-button" th:href="@{/course(subjectId=${subjectId})}">Request another course</a>
            <a class="w-button" th:href="@{/class}">Return to homepage</a>
        </nav>
    </section>

    <!-- INCLUDE FOOTER -->
    <footer th:replace="footer :: footer"></footer>

    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts-page :: script"></script>

</body>

</html>