<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Setting</title>
    <!-- INCLUDE SHARED METAS -->
    <meta th:replace="metas-header :: meta" />
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links-header :: link" />
    <link href="css/login.css" rel="stylesheet" type="text/css" />
    <link href="css/setting.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- INCLUDE HEADER -->
    <header th:replace="header :: header"></header>

    <section class="w-content">

        <div id="container" th:object="${student}">
            
            <h2 class="aligner">Setting</h2>

            <label><b>Username</b></label>
            <input type="text" name="username" th:value="${student.userName}" readonly />
            
            <label><b>Password</b></label>
            <input type="password" name="password" value="000000000000" readonly />
            <button id="pwd-button" class="w-button" type="button">Edit password</button>

        </div>

    </section>

    <!-- MODAL MODIF PASSWORD -->
    <div id="pwd-modal" class="modal">
        <div class="modal-content">
            <span class="close" id="pwd-close">&times;</span>
            <form th:action="@{/modif}" method="POST" th:object="${student}">
                <div class="text-modal">Edit the password</div>
                <div class="body-modal">
                    <label>New password:</label>
                    <input id="pwd" type="password" th:field="*{newPassword}"><br />
                    <button type="submit" class="w-button">Confirm</button>
                </div>
            </form>
        </div>
    </div>

    <!-- INCLUDE FOOTER -->
    <footer th:replace="footer :: footer"></footer>

    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts-page :: script"></script>
    <script src="js/setting.js" type="text/javascript"></script>

</body>

</html>